html, body {
  margin: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./drifveriet.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #1d1d1b;
  height: 100%;
  width: 100%;
  
}

#root{
  height: 100%;
  width: 100%;
}

#flexDiv{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#morfDiv{
  flex-direction: row;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#textDiv{
  color: black
}


#massiveDiv{
  height: 100%;
  width: 100%;
}

.one{
  margin: 10px;

}

#morfButtons{
  margin: 10px;
  height: 50px;
  width: 50px;
  
}